fastapi==0.136.1
numpy==1.26.4
uvicorn==0.22.0
pytest
httpx
starlette
requests
#git+https://github.com/flatland-association/flatland-rl.git@main
git+https://github.com/flatland-association/flatland-baselines.git@main
