fastapi==0.136.1
numpy==1.26.4
uvicorn==0.22.0
pytest
httpx
starlette
requests
# DEPENDENCY SWITCH
# TODO use released/agged version
git+https://github.com/flatland-association/flatland-baselines.git@main
